@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #D4D4D8;
    --cor-secundaria: #18181B;
    --cor-terciaria: #EF4444;

    --font-title: 'Krona One', sans-serif;
    --font-p: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    display: flex;
    padding: 2% 0 0 8%;
}

.cabecalho__menu {
    font-family: var(--font-p);
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    gap: 5rem;
}

.cabecalho__menu__link {
    text-decoration: none;
    color: var(--cor-terciaria);
}

.cabecalho__menu__link:hover {
    color: var(--cor-secundaria);
}

.container {
    padding: 5% 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5.125rem;
}

.container__conteudo {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}
.container__experiencia {
    gap: 2.5rem;
    display: flex;
    flex-direction: column;
}

.container__conteudo__titulo {
    font-family: var(--font-title);
    font-size: 2.25rem;
}
.container__conteudo__subtitulo {
    font-family: var(--font-title);
    font-size: 1.25rem;
    font-weight: 10;
}

.titulo_destaque {
    color: var(--cor-terciaria);
}

.container__conteudo__paragrafo {
    font-family: var(--font-p);
    font-size: 1.5rem;
}

.container__conteudo__experiencia {
    font-family: var(--font-p);
    font-weight: 500;
    font-size: 1.0625rem;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.container__conteudo__experiencia__lista , .container__conteudo__experiencia__status {
    list-style: none;
}

.container__links {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

.apresentacao__links__subtitulo {
    font-family: var(--font-title);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__logo {
    width: 2rem;
    height: 2rem;
}

.apresentacao__links__nav {
    font-family: var(--font-p);
    display: flex;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.5rem;
    width: 50%;
    border-radius: 0.5rem;
    padding: 1rem 0;
    color: var(--cor-secundaria);
    border: 0.125rem solid var(--cor-terciaria);
}

.apresentacao__links__nav:hover {
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
}

.apresentacao__imagem {
    width: 50%;
}

.rodape {
    font-family: var(--font-p);
    background-color: var(--cor-terciaria);
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
}

.rodape__conteudo {
    font-size: 1.5rem;
    font-weight: 25rem;
}


/* Media Query */
@media (max-width: 75rem) {
    .cabecalho {
        padding: auto;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .container {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .container__conteudo {
        width: auto;
    }
}